// Light Mode
$primary-color: #5a67d8;
$secondary-color: hsl(218, 17%, 35%);
$danger-color: red;
$success-color: rgb(25, 135, 84);
$attractive-color: #ff6b6b;
$primary-blue-color: #b3b8e0;
$dark-color: rgb(22, 28, 36);
$light-color: rgb(255, 255, 255);
$light-gray: #e2e8f0;

$app-color: rgb(33, 43, 54);
$app-primary-color: rgb(98, 75, 255);
$background-color: rgb(241, 245, 249);
$fading-color: #637381;
$fading-color2: #a8b6c2;

// Dark Mode
$primary-color-dark: #34548a;
$secondary-color-dark: #718096;
$danger-color-dark: #e53e3e;
$attractive-color-dark: #ff6b6b;
$primary-blue-color-dark: #8a8fb3;
$dark-color-dark: rgb(255, 255, 255);
$light-color-dark: rgb(28, 40, 56);
$light-gray-dark: #4a5568;
$app-color-dark: rgb(26, 32, 44);
$app-primary-color-dark: rgb(90, 103, 216);
$background-color-dark: rgb(45, 55, 72);
$fading-color-dark: #718096;
$fading-color2-dark: #a0aec0;

$big_font_size: 25px;
$hover_big_font_size: 26px;

$font_size: 20px;
$hover_font_size: 21px;

$small_font_size: 15px;
$hover_small_font_size: 16px;

$font_weight: 500;
$big_font_weight: 600px;

$font_family: 'Times New Roman', Times, serif