@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/main';

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .loader-icon {
      color:  var(--app-primary-color);
    }
  }